* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.5;
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
.header{
    top: 0;
    z-index: 4;
    width: 100%;
    height: 75px;
    background: #fff;
    border-bottom: 1px solid black;
    color: #000;
    margin-top: -25px;
}
.ul1{
  list-style-type: none;
  padding: 0;
  padding-right: 12px;
  padding-left: 24px;
  text-align: center;
}
.li1{
  display: inline-block;
  justify-content: space-between;
  float: left;
}
.site-title{
  float: left;
  padding-right: 12px;
  max-width: 100%;
  margin-top: 25px;
  color: #000;
  font-size: 1.375em;
  line-height: 1.09090909;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .0625em;
}
h1{
  margin-top: 35px;
}
.img{
  border-left: 1px solid black;
  box-sizing: content-box;
  height: 100%;
  padding: 18px;
  float: right;
  cursor: pointer;
}
.hero-image {
    background-image: url("scenery.jpg");
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.overlay{
  position: absolute;
  margin-top: 20px;
  margin-left: 450px;
  margin-right: 450px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, .25);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.title{
  font-size: 2.25em;
  line-height: 1.333334;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .0625em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.date{
  font-size: .875em;
  line-height: 1.7142857;
  margin-bottom: -40px;
}
.iframe{
  padding-top: 24px;
}
.article{
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding-top: 72px;
  padding-left: 500px;
  padding-right: 400px;
  
}
.article1{
  padding-top: 30px;
  padding-bottom: 24px;
}
.caption{
  padding-bottom: 12px;
  
}
.bigImage{
  margin-left: -90px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 55px;
}
.caption-text{
  text-align: center;
  padding: 12px 0 0;
  color: rgba(0,0,0,.6);
  font-size: .875em;
  line-height: 1.7142857;
}
ul{
  list-style-position: outside;
  list-style: inside square;
  margin-bottom: 24px;
}
.rating{
  position: relative;
  padding-top: 60px;
  margin: 0;
}
.rating::before{
  left: -90px;
  padding: 0 72px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  margin-top: 35px;
}
.rating-title{
  margin-top:0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .0625em;
  font-size: 1em;
  line-height: 1.5;
  display: inline-block;
}
.rating-icon{
  background-size: 32px 48px !important;
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: url(star.png) bottom left;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-right: 1px;
}
.rating-info{
  display: block;
  float: left;
  background: url(info-icon.png) no-repeat 3px 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-size: 12px 12px;
}
.rating-msg{
  float: left;
  padding-left: 5px;
  text-align: left;
}
.share{
  position: relative;
  padding-top: 25px;
  margin: 0;
}
.share::before{
  left: -90px;
  padding: 0 72px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
}
.share-content{
  margin-bottom: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.share-list li{
  margin: 0 8px 12px 0;
  padding: 0;
  display: inline-block;
}
.share-linkedin{
  text-decoration: none !important;
  display: inline-block;
  font-size: 13px;
  font-family: "Open Sans",sans-serif;
  font-weight: 500;
  border-radius: 4px;
  color: #2c3338 !important;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.12),0 0 0 1px rgba(0,0,0,.12);
  text-shadow: none;
  line-height: 23px;
  padding: 0px 20px 3px 15px;
}
.linkedin{
  padding: 0px 0px 10px 20px;
}
.liked{
  position: relative;
  padding-top: 40px;
  margin: 0;
}
.liked::before{
  left: -90px;
  padding: 0 72px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
}
.total-like::before{
content: "4 bloggers ";
color: #10b0b8;
}
.related{
  position: relative;
  padding-top: 25px;
  margin: 0;
}
.related::before{
  left: -90px;
  padding: 0 72px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  margin-top: 30px;
}
div.related p{
  font-size: .875em;
  line-height: 1.7142857;
  padding: 10px 0;
  opacity: 1;
}
.related-title{
  font-weight: 700;
  display: block;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0;
}
a{
  color: #10b0b8;
  text-decoration: none;
}
time{
  display: block;
  opacity: .6;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.related-context{
  display: block;
  opacity: .6;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.after::after{
  left: -90px;
  padding: 0 72px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  margin-top: 30px;
}
footer{
  padding-bottom: 72px;
  font-size: .875em;
  line-height: 1.7142857;
  padding-top: 25px;
  color: rgba(0,0,0,.6);
  display: block;
  padding-bottom: 72px;
}
article footer::before{
  left: -90px;
  padding: 0 72px;
  content: "";
  display: block;
  position: relative;
  top: -45px;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  margin-top: 50px;
}
.comment-title{
  margin: 0 auto 16px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  padding-right: 72px;
  padding-left: 120px;
  width: 768px;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .0625em;
}
.comment-form{
  background-color: transparent;
  background: 0 0;
  width: 100%;
  padding-right: 72px;
  padding-left: 490px;
  padding-bottom: 48px;
  margin-bottom: 100px;
  height: 100px;
}
form::before{
  content: "";
  display: table;
}
.comment-respond{
  --verbum-font-color: rgba(0,0,0,.8);
    --verbum-border-color: #dcdcde;
    --verbum-background-color: rgba(255,255,255,.6);
    --verbum-wrapper-background-color: rgba(255,255,255,.6);
    --verbum-content-background-color: rgba(255,255,255,.6);
    --verbum-element-opacity: .9;
    background-color: var(--verbum-background-color);
    border: 1px solid var(--verbum-border-color);
    height: 96px;
    width: 624px;
    font-size: 14px;
    font-family: var(--jetpack-comments-font);
    
}
.answer{
  justify-content: flex-end;
  display: flex;
  padding: 0px;
  border: 1px solid #dcdcde;
  height: 65px;
  margin-top: 2px;
}
.comment-submit{
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background: var(--wp-components-color-accent,var(--wp-admin-theme-color,#0675c4));
  color: var(--wp-components-color-accent-inverted,#fff);
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  cursor: default;
  position: relative;
  max-height: 35px;
  margin-top: 15px;
  margin-right: 15px;
}

.post-navigation{
  position: relative;
  overflow: hidden;
  border-top: 1px solid #d9d9d9;
  height: 73px;
  text-align: center;
  display: block;
}
.post-navigation::before{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #d9d9d9;
}
.nav-previous{
  position: relative;
  float: left;
  width: 50%;
}
.nav-previous a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f104";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 19px;
  margin-left: -12px;
  font-size: 24px;
  height: 24px;
  width: 24px;
  color: #000;
}
.nav-next{
  float: right;
  width: 50%;
  text-align: right;
  position: relative;
}
.nav-next a::before{
  transform: rotate(180deg);
  font-family: "Font Awesome 5 Free";
  content: "\f104";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 31px;
  margin-left: -12px;
  font-size: 24px;
  height: 24px;
  width: 24px;
  color: #000;
}
.site-footer{
  padding-left: 24px;
  overflow: hidden;
  width: 100%;
  min-height: 49px;
  background: #fff;
  border-top: 1px solid #d9d9d9;
  color: rgba(0,0,0,.6);
  display: block;
  padding-top: 0px;
  padding-bottom: 0%;
}

.site-info {
  position: relative;
  padding: 12px 24px;
  font-size: .75em;
  line-height: 2;
  padding-left: 0;
  width: 50%;
  padding-left: 0;
  width: 50%;
}
footer .site-info a{
  color: rgba(0,0,0,.6);
}
body article{
  border-bottom: 1px solid #d9d9d9;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .0625em;
  font-size: 1em;
  line-height: 1.5;
}

  


